# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
/common/logs/

.idea
/neoforge/src/generated/resources/.cache/
/fabric/src/generated/resources/.cache/
/docs/
/common/src/test/
/neoforge/src/hudCheck/
/neoforge/src/lifecycleCheck/
/fabric/src/gametest/
/fabric/src/lifecycleCheck/
/common/src/integrationTest/
